.nav{
	font-size: 20px;
    margin-left: 6px;
}
.dropdown-menu{
    height: 650%;
    width: 100%;
    font-size: 13px;
}
.dropdown{
	list-style: none;
    font-size: 21px;
}
.dropdown a{
	text-decoration: none;
	    color: aliceblue;
}


/*create class*/
.ed{
	background-color: #0080ff
}

.ed1{
	width: 228px;
	height: 750px;
	border:1px solid;
	background-color: #ddd;
	position: absolute;
	left: 45px;
    margin-left: 0px;
    background-color: #595959;
}
.ed-1{
	width: 889px;
	height: 750px;
    background-color: #ddd;
    margin-left: 25%;
    border: 1px solid;
}
.ed-1 h2{
	margin-left: 30px;
}
.ed-11{
	width: 810px;
	height: 650px;
	border:1px solid;
	background-color: white;
	margin-left: 40px;

}
.ac{
	font-size: 20px;
	margin-top: 10px;
}
.form-control11{
	margin-left: 30px;
	height: 36px;
    width: 550px;
}
.btn{
	margin-left: 90%;
}


/*add student*/

.mf{
   margin-left: 28px;
}
.upload{
	margin-left: 24%;
}

/*view result*/
.img{
	width: 300px;
	margin-top: 36px;
	float: left;
	margin-left: 20px;
}

.n{
	margin-left: -67px;
	font-size: 20px;
	margin-top: 10px;
}
.for{
	width: 400px;
	float: right;
	margin-right:10%;
	margin-top: 30px;
}

/*viewresuit*/
.for p1{
	margin-left: 25%;
	font-size: 25px;
}
th,td,tr{
	border:2px solid black;
}
/*addrep1*/

.add{
	width: 20%;
	height: 10%;
	margin-top: 90px;
	float: left;
	margin-left: 30px;

}
.add:nth-child(1){
	background-color: #ddd;
}
p{
	text-align: center;
	font-size: 20px;
}
.form-control12{
	margin-left: -4px;
	width: 108%;
}